body{
    margin:0;
    padding:0;
    font: 12px "Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
a{
    color: #222222;
    text-decoration: none;
}
.img{
    width: 100%;
    height:auto;
}
.head_top{
    width: 100%;
    height: 25px;
    background-color: #f2f2f2;
}
.head_content_area{
    width: 1200px;
    margin: auto;
    line-height: 25px;
}
.head_title_right{
    float: right;
    margin-right: 20px;
}
.head_logo{
    width: 1200px;
    margin: auto;
}
.head_logo img{
    margin-top: 3px;
}
.nav{
    width: 1200px;
    margin:auto;
    height: 40px;
    background-color: #3C86C5;
    overflow: hidden;
}
.nav_title{
    float: left;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 16px;
    /*background-color: #1b961b;*/
}
.nav_title a{
    color: #ffffff;
}
.carousel{
    width: 1200px;
    height: 400px;
    margin: auto;
    background-color: #7c7c7c;
}