<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css"/>
    <title>小毛CMS前台</title>
</head>
<body>
<div class="head_top">
    <div class="head_content_area">
        <span class="head_title_left">小毛CMS-轻松建站</span>
        <span class="head_title_right"><a href="javascript:;">登录</a></span>
        <span class="head_title_right"><a href="javascript:;">注册</a></span>
    </div>
</div>

<!--头部logo图片-->
<div class="head_logo">
    <img  src="http://iph.href.lu/200x55?text=55x200">
</div>
</body>
</html>